/.vs/ITBLOG/v15
/.vs/config
/ITBLOG.CORE/bin
/ITBLOG.CORE/obj
/ITBLOG.INFRA/bin
/ITBLOG.INFRA/obj
/ITBLOG.WEBUI/bin
/ITBLOG.WEBUI/obj
/ITBLOG.SERVICE/bin
/ITBLOG.SERVICE/obj
*/.vs
/.vs
# Visual Studio files #
######################
*.suo
*.user
# Directories #
###############
bin/
obj/
